# Diversity and Inclusion

In [1]:
import pandas as pd

In [3]:
Diversity_Inclusion=pd.read_excel('03 Diversity-Inclusion-Dataset.xlsx')
Diversity_Inclusion

,Employee ID,Gender,Job Level after FY20 promotions,New hire FY20?,FY20 Performance Rating,Promotion in FY21?,In base group for Promotion FY21,Target hire balance,FY20 leaver?,In base group for turnover FY20,...,Promotion in FY20?,FY19 Performance Rating,Age group,Age @01.07.2020,Nationality 1,Region group: nationality 1,Broad region group: nationality 1,Last hire date,Years since last hire,Rand
0,1,Male,6 - Junior Officer,N,2.0,No,No,0.5,Yes,Y,...,N,3.0,30 to 39,37,Spain,Europe,Europe,2017-04-01,3,0.177804
1,2,Female,4 - Manager,N,3.0,No,Yes,0.5,No,Y,...,N,NaN,30 to 39,37,Germany,Europe,Europe,2017-04-01,3,0.579315
2,3,Male,2 - Director,N,2.0,No,Yes,0.5,No,Y,...,N,3.0,30 to 39,35,Switzerland,Switzerland,Switzerland,2015-04-01,5,0.887683
3,4,Male,4 - Manager,N,3.0,No,Yes,0.5,No,Y,...,N,3.0,30 to 39,32,Germany,Europe,Europe,2012-04-01,8,0.053887
4,5,Female,6 - Junior Officer,N,2.0,No,Yes,0.5,No,Y,...,N,NaN,20 to 29,28,Switzerland,Switzerland,Switzerland,2019-04-01,1,0.971681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Male,6 - Junior Officer,N,4.0,No,Yes,0.5,No,Y,...,N,3.0,20 to 29,25,Germany,Europe,Europe,2017-04-01,3,0.674003
496,497,Female,5 - Senior Officer,N,2.0,No,Yes,0.5,No,Y,...,N,3.0,30 to 39,32,Austria,Europe,Europe,2011-04-01,9,0.024025
497,498,Male,6 - Junior Officer,N,2.0,No,Yes,0.5,No,Y,...,N,3.0,20 to 29,21,Canada,Americas,Elsewhere,2018-04-01,2,0.808575
498,499,Male,3 - Senior Manager,N,2.0,No,Yes,0.5,No,Y,...,Y,1.0,40 to 49,42,Spain,Europe,Europe,2016-04-01,4,0.542344
499,500,Male,4 - Manager,N,2.0,Yes,Yes,0.5,No,Y,...,N,3.0,30 to 39,39,Switzerland,Switzerland,Switzerland,2011-04-01,9,0.829603

In [5]:
Diversity_Inclusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee ID                        500 non-null    int64
 1   Gender                             500 non-null    object
 2   Job Level after FY20 promotions    500 non-null    object
 3   New hire FY20?                     500 non-null    object
 4   FY20 Performance Rating            413 non-null    float64
 5   Promotion in FY21?                 500 non-null    object
 6   In base group for Promotion FY21   500 non-null    object
 7   Target hire balance                500 non-null    float64
 8   FY20 leaver?                       500 non-null    object
 9   In base group for turnover FY20    500 non-null    object
 10  Department @01.07.2020             500 non-null    object
 11  Leaver FY                          47 non-null     object
 12  Job Level after FY21 promotions    453 non-null    object
 13  Last Department in FY20            500 non-null    object
 14  FTE group                          500 non-null    object
 15  Time type                          500 non-null    object
 16  Department & JL group PRA status   438 non-null    object
 17  Department & JL group for PRA      438 non-null    object
 18  Job Level group PRA status         438 non-null    object
 19  Job Level group for PRA            438 non-null    object
 20  Time in Job Level @01.07.2020      500 non-null    int64
 21  Job Level before FY20 promotions   434 non-null    object
 22  Promotion in FY20?                 500 non-null    object
 23  FY19 Performance Rating            386 non-null    float64
 24  Age group                          500 non-null    object
 25  Age @01.07.2020                    500 non-null    int64
 26  Nationality 1                      500 non-null    object
 27  Region group: nationality 1        500 non-null    object
 28  Broad region group: nationality 1  500 non-null    object
 29  Last hire date                     500 non-null    datetime64[ns]
 30  Years since last hire              500 non-null    int64
 31  Rand                               500 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(23)
memory usage: 125.1+ KB

In [35]:
Diversity_Inclusion.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      Employee ID  Gender  Job Level after FY20 promotions  New hire FY20?  \
0          False   False                            False           False
1          False   False                            False           False
2          False   False                            False           False
3          False   False                            False           False
4          False   False                            False           False
..           ...     ...                              ...             ...
495        False   False                            False           False
496        False   False                            False           False
497        False   False                            False           False
498        False   False                            False           False
499        False   False                            False           False

     FY20 Performance Rating  Promotion in FY21?  \
0                      False               False
1                      False               False
2                      False               False
3                      False               False
4                      False               False
..                       ...                 ...
495                    False               False
496                    False               False
497                    False               False
498                    False               False
499                    False               False

     In base group for Promotion FY21  Target hire balance  FY20 leaver?  \
0                               False                False         False
1                               False                False         False
2                               False                False         False
3                               False                False         False
4                               False                False         False
..                                ...                  ...           ...
495                             False                False         False
496                             False                False         False
497                             False                False         False
498                             False                False         False
499                             False                False         False

     In base group for turnover FY20  ...  Promotion in FY20?  \
0                              False  ...               False
1                              False  ...               False
2                              False  ...               False
3                              False  ...               False
4                              False  ...               False
..                               ...  ...                 ...
495                            False  ...               False
496                            False  ...               False
497                            False  ...               False
498                            False  ...               False
499                            False  ...               False

     FY19 Performance Rating  Age group  Age @01.07.2020  Nationality 1  \
0                      False      False            False          False
1                       True      False            False          False
2                      False      False            False          False
3                      False      False            False          False
4                       True      False            False          False
..                       ...        ...              ...            ...
495                    False      False            False          False
496                    False      False            False          False
497                    False      False            False          False
498                    False      False            False          False
499                    False      False            False          False

     Region group: nationality 1  Broad region group: nationality 1  \
0                          False                              False
1                          False                              False
2                          False                              False
3                          False                              False
4                          False                              False
..                           ...                                ...
495                        False                              False
496                        False                              False
497                        False                              False
498                        False                              False
499                        False                              False

     Last hire date  Years since last hire   Rand
0             False                  False  False
1             False                  False  False
2             False                  False  False
3             False                  False  False
4             False                  False  False
..              ...                    ...    ...
495           False                  False  False
496           False                  False  False
497           False                  False  False
498           False                  False  False
499           False                  False  False

[500 rows x 32 columns]>

In [11]:
Diversity_Inclusion.drop_duplicates()

,Employee ID,Gender,Job Level after FY20 promotions,New hire FY20?,FY20 Performance Rating,Promotion in FY21?,In base group for Promotion FY21,Target hire balance,FY20 leaver?,In base group for turnover FY20,...,Promotion in FY20?,FY19 Performance Rating,Age group,Age @01.07.2020,Nationality 1,Region group: nationality 1,Broad region group: nationality 1,Last hire date,Years since last hire,Rand
0,1,Male,6 - Junior Officer,N,2.0,No,No,0.5,Yes,Y,...,N,3.0,30 to 39,37,Spain,Europe,Europe,2017-04-01,3,0.177804
1,2,Female,4 - Manager,N,3.0,No,Yes,0.5,No,Y,...,N,NaN,30 to 39,37,Germany,Europe,Europe,2017-04-01,3,0.579315
2,3,Male,2 - Director,N,2.0,No,Yes,0.5,No,Y,...,N,3.0,30 to 39,35,Switzerland,Switzerland,Switzerland,2015-04-01,5,0.887683
3,4,Male,4 - Manager,N,3.0,No,Yes,0.5,No,Y,...,N,3.0,30 to 39,32,Germany,Europe,Europe,2012-04-01,8,0.053887
4,5,Female,6 - Junior Officer,N,2.0,No,Yes,0.5,No,Y,...,N,NaN,20 to 29,28,Switzerland,Switzerland,Switzerland,2019-04-01,1,0.971681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Male,6 - Junior Officer,N,4.0,No,Yes,0.5,No,Y,...,N,3.0,20 to 29,25,Germany,Europe,Europe,2017-04-01,3,0.674003
496,497,Female,5 - Senior Officer,N,2.0,No,Yes,0.5,No,Y,...,N,3.0,30 to 39,32,Austria,Europe,Europe,2011-04-01,9,0.024025
497,498,Male,6 - Junior Officer,N,2.0,No,Yes,0.5,No,Y,...,N,3.0,20 to 29,21,Canada,Americas,Elsewhere,2018-04-01,2,0.808575
498,499,Male,3 - Senior Manager,N,2.0,No,Yes,0.5,No,Y,...,Y,1.0,40 to 49,42,Spain,Europe,Europe,2016-04-01,4,0.542344
499,500,Male,4 - Manager,N,2.0,Yes,Yes,0.5,No,Y,...,N,3.0,30 to 39,39,Switzerland,Switzerland,Switzerland,2011-04-01,9,0.829603

In [15]:
Diversity_Inclusion.dtypes

Employee ID                                   int64
Gender                                       object
Job Level after FY20 promotions              object
New hire FY20?                               object
FY20 Performance Rating                     float64
Promotion in FY21?                           object
In base group for Promotion FY21             object
Target hire balance                         float64
FY20 leaver?                                 object
In base group for turnover FY20              object
Department @01.07.2020                       object
Leaver FY                                    object
Job Level after FY21 promotions              object
Last Department in FY20                      object
FTE group                                    object
Time type                                    object
Department & JL group PRA status             object
Department & JL group for PRA                object
Job Level group PRA status                   object
Job Level group for PRA                      object
Time in Job Level @01.07.2020                 int64
Job Level before FY20 promotions             object
Promotion in FY20?                           object
FY19 Performance Rating                     float64
Age group                                    object
Age @01.07.2020                               int64
Nationality 1                                object
Region group: nationality 1                  object
Broad region group: nationality 1            object
Last hire date                       datetime64[ns]
Years since last hire                         int64
Rand                                        float64
dtype: object

### % of male and female

In [59]:
round(Diversity_Inclusion['Gender'].value_counts(normalize=True)*100)

Gender
Male      59.0
Female    41.0
Name: proportion, dtype: float64

### no of men and women

In [17]:
Diversity_Inclusion['Gender'].value_counts()

Gender
Male      295
Female    205
Name: count, dtype: int64

### no of leavers

In [18]:
Diversity_Inclusion['FY20 leaver?'].value_counts()

FY20 leaver?
No     453
Yes     47
Name: count, dtype: int64

In [60]:
print('number of FY20 leavers=47')

number of FY20 leavers=47

### % of employees promoted in FY21

In [21]:
round(Diversity_Inclusion['Promotion in FY21?'].value_counts(normalize=True)*100,1)

Promotion in FY21?
No     89.8
Yes    10.2
Name: proportion, dtype: float64

In [25]:
print('percentage of employees promoted in FY21 = 10.2%')

percentage of employees promoted in FY21 = 10.2%

In [26]:
round(Diversity_Inclusion.groupby('Gender')['Promotion in FY21?'].value_counts(normalize=True)*100,1)

Gender  Promotion in FY21?
Female  No                    91.2
        Yes                    8.8
Male    No                    88.8
        Yes                   11.2
Name: proportion, dtype: float64

In [27]:
print('males promoted = 11.2%')
print('females promoted = 8.8%')

males promoted = 11.2%
females promoted = 8.8%

### % of hired male and female employees

In [30]:
round(Diversity_Inclusion.groupby('Gender')['New hire FY20?'].value_counts(normalize=True)*100,1)

Gender  New hire FY20?
Female  N                 83.4
        Y                 16.6
Male    N                 89.2
        Y                 10.8
Name: proportion, dtype: float64

In [31]:
print('male hired = 10.8%')
print('female hired = 16.6%')

male hired = 10.8%
female hired = 16.6%

### job level after FY20 promotion

In [34]:
Diversity_Inclusion.groupby('Job Level after FY20 promotions')['Gender'].value_counts()

Job Level after FY20 promotions  Gender
1 - Executive                    Male       14
                                 Female      2
2 - Director                     Male       32
                                 Female      5
3 - Senior Manager               Male       46
                                 Female     10
4 - Manager                      Male       52
                                 Female     30
5 - Senior Officer               Male       56
                                 Female     49
6 - Junior Officer               Female    109
                                 Male       95
Name: count, dtype: int64

### Average performance ratings (FY20)

In [42]:
round(Diversity_Inclusion.groupby('Gender')['FY20 Performance Rating'].mean())

Gender
Female    2.0
Male      2.0
Name: FY20 Performance Rating, dtype: float64

### Average performance ratings (FY19)

In [43]:
round(Diversity_Inclusion.groupby('Gender')['FY19 Performance Rating'].mean())

Gender
Female    3.0
Male      3.0
Name: FY19 Performance Rating, dtype: float64

### no of employees by region

In [52]:
Diversity_Inclusion.groupby('Gender')['Region group: nationality 1'].value_counts()

Gender  Region group: nationality 1
Female  Europe                         104
        Switzerland                     95
        Americas                         4
        Middle East                      2
Male    Switzerland                    169
        Europe                         120
        Americas                         3
        Asia Pacific                     3
Name: count, dtype: int64

### Average age of employee

In [55]:
round(Diversity_Inclusion['Age @01.07.2020'].mean())

32

### Age group by job level

In [58]:
Diversity_Inclusion.groupby('Age group')['Job Level after FY20 promotions'].value_counts()

Age group  Job Level after FY20 promotions
16 to 19   6 - Junior Officer                   6
20 to 29   6 - Junior Officer                 174
           5 - Senior Officer                  47
           3 - Senior Manager                   1
           4 - Manager                          1
30 to 39   4 - Manager                         59
           5 - Senior Officer                  48
           3 - Senior Manager                  34
           6 - Junior Officer                  18
           2 - Director                        13
           1 - Executive                        2
40 to 49   2 - Director                        21
           3 - Senior Manager                  20
           4 - Manager                         20
           1 - Executive                       10
           5 - Senior Officer                   7
           6 - Junior Officer                   5
50 to 59   1 - Executive                        2
           2 - Director                         2
           4 - Manager                          2
           5 - Senior Officer                   2
           3 - Senior Manager                   1
           6 - Junior Officer                   1
60 to 69   1 - Executive                        2
           2 - Director                         1
           5 - Senior Officer                   1
Name: count, dtype: int64